In [1]:
# Import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Check the files 
import glob

files = glob.glob(r'C:\Users\louis\OneDrive\Desktop\PFDA\PFDA_project\weather\*.csv') 
print(files)
list_data = []
for file in files:
    data = pd.read_csv(file, skiprows=23, low_memory=False)
    list_data.append(data)

# Concatenate all data into one DataFrame
weather = pd.concat(list_data)


# Reference:
# https://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe

['C:\\Users\\louis\\OneDrive\\Desktop\\PFDA\\PFDA_project\\weather\\belmullet.csv', 'C:\\Users\\louis\\OneDrive\\Desktop\\PFDA\\PFDA_project\\weather\\dublinairport.csv', 'C:\\Users\\louis\\OneDrive\\Desktop\\PFDA\\PFDA_project\\weather\\johnstown.csv', 'C:\\Users\\louis\\OneDrive\\Desktop\\PFDA\\PFDA_project\\weather\\malinhead.csv', 'C:\\Users\\louis\\OneDrive\\Desktop\\PFDA\\PFDA_project\\weather\\mullingar.csv', 'C:\\Users\\louis\\OneDrive\\Desktop\\PFDA\\PFDA_project\\weather\\valentia.csv']

In [3]:
data

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,...,ind.3,wdsp,ind.4,wddir,ww,w,sun,vis,clht,clamt
0,01-jan-1945 00:00,0,0.0,0,8.9,0,8.8,8.8,11.3,99,...,1,3,1,350,10,6,0.0,7000,2,8
1,01-jan-1945 01:00,0,0.0,0,8.5,0,8.3,8.3,10.8,97,...,1,2,1,360,2,2,0.0,20000,19,7
2,01-jan-1945 02:00,0,0.0,0,8.8,0,8.3,7.7,10.6,93,...,1,6,1,10,2,2,0.0,20000,22,7
3,01-jan-1945 03:00,0,0.0,0,8.9,0,8.4,7.7,10.6,93,...,1,9,1,350,2,2,0.0,30000,26,7
4,01-jan-1945 04:00,0,0.0,0,9.3,0,8.7,8.3,10.8,92,...,1,9,1,350,2,2,0.0,30000,26,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701275,31-dec-2024 20:00,0,1.6,0,8.9,0,8.5,8.0,10.7,94,...,2,9,2,250,,,,,,
701276,31-dec-2024 21:00,0,3.0,0,8.6,0,8.4,8.1,10.8,96,...,2,4,2,170,,,,,,
701277,31-dec-2024 22:00,0,2.8,0,8.2,0,8.0,7.6,10.5,95,...,2,7,2,290,,,,,,
701278,31-dec-2024 23:00,0,2.6,0,8.0,0,7.5,6.9,9.9,92,...,2,7,2,320,,,,,,
701279,01-jan-2025 00:00,0,2.0,0,7.7,0,7.1,6.4,9.6,91,...,2,8,2,330,,,,,,

In [4]:
# list the files in the directory 

import os
print(os.listdir(r'C:\Users\louis\OneDrive\Desktop\PFDA\PFDA_project\weather'))

['belmullet.csv', 'dublinairport.csv', 'johnstown.csv', 'malinhead.csv', 'mullingar.csv', 'valentia.csv']